name: Build and Push Docker Image

on:
  pull_request:
    branches:
      - main
    types: [ closed ]

jobs:
  build_and_push:
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mvc:latest
      - name: Generate a random tag
        id: generate_string
        run: |
          # Use date and a random value to create a somewhat unique string
          random_string=$(date +%s%N | sha256sum | head -c 32)
          echo "RANDOM_STRING=$random_string" >> $GITHUB_OUTPUT
        shell: bash
      - name: Create Tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ steps.generate_string.outputs.RANDOM_STRING }}